.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  top: 0;
  width: 100vw;
  align-items: center;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hedder {
  background-image: url(hedder.jpg);
  width: 100%;
  height: 400px;
  color: #fff;
  align-items: center;
}

.list {
  width: 95%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

.artical {
  width: calc(25% - 1em);
  height: 200px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}